<template>
  <div class="episode-list">
    <img class="img mx-auto" src="narulogo.png" />
    <div class="flex">
      <div class="w-2/3 px-2">
        <h1 class="mb-4 font-bold">EPISODES ({{episodesList.length}})</h1>
        <div>
          <draggable
            class="flex flex-wrap -mx-2"
            v-model="episodesList"
            group="array"
            @start="drag=true"
            @end="drag=false"
          >
            <div
              v-for="(episode, index) in episodesList"
              :key="index"
              class="rounded overflow-hidden shadow-lg max-w-xs mx-auto mb-10"
            >
              <div class="flex">
                <img
                  class="w-full bg-black img"
                  :src="episode.img || 'narulogo.png'"
                  alt="default image"
                />
              </div>
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ episode.titre_jp }}</div>
                <div class="font-bold text-xl mb-2">{{ episode.titre_eng }}</div>
                <p class="text-gray-700 text-base">Sortie : {{ episode.date_jp }}</p>
              </div>
            </div>
          </draggable>
        </div>
      </div>
      <div class="w-1/3">
        <h1 class="mb-4 font-bold">MOVIES ({{moviesList.length}})</h1>
        <div>
          <draggable
            class="flex flex-wrap -mx-2"
            v-model="moviesList"
            group="array"
            @start="drag=true"
            @end="drag=false"
          >
            <div
              v-for="movie in moviesList"
              :key="movie.id"
              class="rounded overflow-hidden shadow-lg max-w-xs mx-auto mb-10"
            >
              <img class="w-full bg-black img" :src="movie.img" alt="Sunset in the mountains" />
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ movie.titre_jp }}</div>
                <div class="font-bold text-xl mb-2">{{ movie.titre_eng }}</div>
                <p class="text-gray-700 text-base">Sortie : {{ movie.date_jp }}</p>
              </div>
            </div>
          </draggable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import draggable from "vuedraggable";

export default {
  name: "EpisodeList",
  components: {
    draggable
  },
  methods: {
    getEpisodes: async function() {
      let response = await axios.get("http://localhost:3001/episodes");

      response.data.forEach(element => {
        this.episodesList.push(element);
      });
    },
    getMovies: async function() {
      let response = await axios.get("http://localhost:3001/movies");

      response.data.forEach(element => {
        this.moviesList.push(element);
      });
    },
    deleteItem: function(index) {
      this.episodesList.splice(index, 1);
      this.$forceUpdate();
    }
  },
  data: function() {
    return {
      episodesList: [],
      moviesList: []
    };
  },
  mounted() {
    this.getEpisodes();
    this.getMovies();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.img {
  height: 150px;
  margin-bottom: 50px;
}

.card {
  border: 1px solid #bcbcbc;
  width: 30%;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
